@font-face{
    font-family: 'LetterMyFont';
    font-weight: normal;
    font-style: normal;
    src: url('../font/MiFuente.woff2') format('woff2');
    font-display: swap;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: LetterMyFont;
}
a {
    text-decoration: none;
}
a.visually-hidden.focusable.skip-link {
    visibility: hidden; 
    display: none;
}

/*============================================================================================================*/
/*=========================== ESTILOS CSS HEADER==================*/
.region.region-header{
    display: flex; /*Elementos hijo se distribuyan en linea horizontal*/
    flex-wrap: wrap;
    /*height: 100px; /* Altura fija del header*/
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width:85%; /* Máximo del ancho del contenedor header */
    justify-content: space-between; /* Espacia los elementos entre sí */
    /*align-items: flex-start; /* Centra verticalmente los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    /*align-content: center; /* Centra varias filas si se generan */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    /*padding: 10px; /* Espacio interno del contenedor */
}
/*============================================================================================================*/
/*=========================== ESTILOS CSS MENU==================*/
#block-cusco-salkantay-trek-mainnavigation .tbm-collapse{
    background-color: #56A813; 
    align-content: center;
}
/*============================================================================================================*/
/*=========================== ESTILOS CSS SLIDER==================*/
/*============================================================================================================*/
/*=========================== ESTILOS CSS CONTENT==================*/
/*============================================================================================================*/
/*=========================== ESTILOS CSS FOOTER==================*/
.region.region-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75%;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    padding: 10px 20px;
    margin: 0 auto;
}
.field--name-field-tbsb-footer-logo-img img {
    width: 200px;
    height: auto;
}
.field--name-field-tbfu-footer-snet-prg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.field--name-field-tpsn-icon-img img {
    width: 35px;
    height: auto;
}