@font-face{
    font-family: 'LetterMyFont';
    font-weight: normal;
    font-style: normal;
    src: url('../font/MiFuente.woff2') format('woff2');
    font-display: swap;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: LetterMyFont;
}
a {
    text-decoration: none;
}
a.visually-hidden.focusable.skip-link {
    visibility: hidden; 
    display: none;
}

/*============================================================================================================*/
/*=========================== ESTILOS CSS HEADER==================*/
.region.region-header{
    display: flex; /*Elementos hijo se distribuyan en linea horizontal*/
}
/*============================================================================================================*/
/*=========================== ESTILOS CSS MENU==================*/
#block-cusco-salkantay-trek-mainnavigation .tbm-collapse{
    background-color: #56A813;
}
/*============================================================================================================*/
/*=========================== ESTILOS CSS SLIDER==================*/
/*============================================================================================================*/
/*=========================== ESTILOS CSS CONTENT==================*/
/*============================================================================================================*/
/*=========================== ESTILOS CSS FOOTER==================*/
.region.region-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75%;
    justify-items: center;
    padding: 10px 20px;
}